<html>
<head>
    <title>Express handlebars</title>
    <style link="styles.css"></style>
    <script src="admin.js"></script>
</head>
<body>

<div class="my-info">
    <h2>my info</h2>
        <h3>Фамилия:  <%= book.bookRecords[myAddress].profile.surname %> </h3>
        <h3>Имя:  <%= book.bookRecords[myAddress].profile.name %> </h3>
        <h3>Отчество:  <%= book.bookRecords[myAddress].profile.patronymic %> </h3>
        <h3>Обо мне:</h3>
        <p><%= book.bookRecords[myAddress].profile.about %></p>
        <h3>Photo:</h3>
        <img src="<%= book.bookRecords[myAddress].profile.photo %>">
</div>

<div class="my-friends">
    <% friendsAddresses.forEach((address) => { %>
        <div class="article">
            <h4>friends addresses</h4>
            <p>
                <%= address%>
            </p>
        </div>
    <%})%>
        <input id="add-friend-address" type="text" name="address">
        <button id="add-friend">add friend</button>
</div>

<div class="my-articles">
    <a href="add-article">
        <button id="add-article">add article</button>
    </a>
    <h2>My articles</h2>
    <% myArticles.forEach((article) => { %>
        <div class="article">
            <h4>article</h4>
            <p>
                <%= article.title%>
            </p>
            <p>
                <%= article.text%>
            </p>
            <p>
                <%= article.date%>
            </p>
            <button class="delete-article" name="<%= article.title%>">delete</button>
        </div>
    <%})%>
</div>

<div class="my-friends-articles">
    <h2>My friends articles</h2>
    <% friends.forEach((record) => {%>
    <h3>articles: <%=record.address%></h3>
    <div class="friends-articles">
        <% record.articles.forEach((article) => {%>
            <div class="article">
                <h4>article</h4>
                <p>
                    <%= article.text%>
                </p>
            </div>
        <%})%>
    </div>
    <%})%>
</div>

</body>
</html>
